<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game</title>
    <link rel="stylesheet" href="/game.css">
</head>
<body>
    <div class="container">
        <div class="info-container">
            <div class="text" id="score"></div>
            <div class="text" id="lives"></div>
            <div class="btn-link"><a href="/">Back to Schedule</a></div>
        </div>
        <div class="board" id="board">
            <div class="ball" id="ball"></div>
            <div class="paddle" id="paddle"></div>
            <div class="btn" id="startBtn">Start Game</div>
        </div>
    </div>
    <script src="/game.js"></script>
</body>
</html>