<!DOCTYPE html>
<html lang="en">
<head>
    <title>Schedule</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div id="mini-calendar">
            <div id="live-timer"></div>
            <hr class="calendar-divider">
            <div class="calendar-header">
                <button id="prev-month" class="calendar-arrow">&#8630;</button>
                <span id="calendar-title"></span>
                <button id="next-month" class="calendar-arrow">&#8631;</button>
            </div>
            <div class="calendar-grid" id="calendar-grid"></div>
        </div>

        <div class="vertical-separator"></div>
    </div>
    
    <script src="/index.js"></script>
</body>
</html>